$color-bg: #f3f6fa;
$color-fg: #7c8081;

$color-border: transparentize($color-fg, 0.8);

$color-header-bg:     #fff;
$color-header-fg:     inherit;
$color-header-alt-bg: transparent;
$color-header-alt-fg: #fff;

$color-banner-bg:       #898786;
$color-banner-fg:       #fff;
$color-banner-inner-bg: #341b2b;
$color-banner-inner-fg: #fff;

$color-footer-bg: #e8eef4; //#e2e5e8;
$color-footer-fg: #7c8081;

$color-one-bg:   #d6c0a2;
$color-one-fg:   #fff;
$color-two-bg:   #fff;
$color-two-fg:   inherit;
$color-three-bg: #645862;
$color-three-fg: #fff;

$color-navPanel-bg:  #1c2021;
$color-navPanel-fg:  #fff;
$color-navButton-bg: rgba(163,169,170,0.75);
$color-navButton-fg: #fff;

$color-github-bg:    #4183c4;
$color-github-fg:    #fff;
$color-twitter-bg:   #55acee;
$color-twitter-fg:   #fff;
$color-gittip-bg:    #663300;
$color-gittip-fg:    #fff;
$color-instagram-bg: #3f729b;
$color-instagram-fg: #fff;
$color-email-bg:     #db4437;
$color-email-fg:     #fff;
