---
---

@charset "utf-8";

@import "normalize";
@import "typography";
@import "social";

body {
  margin: auto;
  max-width: 640px;
  padding: 0 2em;
}

header {
  margin: 2em 0;
  text-align: center;

  div.logo {
    position: fixed;
    top: 10px;
    left: 10px;

    h5 { margin: 0; }

    @media screen and (max-width: 900px) {
      position: absolute;
    }
  }

  nav {
    margin: 3em 0 2em 0;

    a {
      margin: 0 0.5em;
      &.current { text-decoration: underline; }
    }
  }
}

span.date {
  margin-left: -130px;
  float: left;

  @media screen and (max-width: 900px) {
    margin: 0;
    float: none;
  }
}

span.date, span.artist, span.description, p.hackernews {
  text-transform: uppercase;
  font-size: 14px;
  color: $medium-dark;
  line-height: 30px;
  font-weight: bold;
}

p.hackernews:first-letter {
  color: #ff6600;
}

ul.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 5px;
    overflow: hidden;

    div {
      padding: 5px 0;

      span.date {
        float: right;
        line-height: 32px;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }
    }
  }
}

blockquote {
  position: relative;
  background-color: $medium-light;
  margin: 0;
  padding: 0.5em 0em 0.5em 2em;
  border-radius: 5px;

  &::before {
    font-family: "Times New Roman";
    font-size: 50px;
    font-weight: bold;
    color: $medium-dark;
    content: "“";
    position: absolute;
    top: 5px;
    left: 10px;

    @media screen and (max-width: 680px) {
      font-size: 42px
    }
  }
}


footer {
  text-align: center;
  padding: 2em 0;
  font-size: 14px;
  color: $medium-dark
}

section.content {
  padding-bottom: 10px;

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
}

.center {
  text-align: center;

  img.me {
    width: 125px;
    height: 125px;
    border-radius: 125px;
    margin-bottom: 1em;
  }
}

p code {
  display: inline-block;
}

pre code {
  display: block;
}

code {
  overflow-wrap: break-word;
  background: #fff;
  font-size: 18px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  @media screen and (max-width: 680px) {
    font-size: 14px;
    padding: 2px 5px;
  }
}

div.gist {
  div.gist-file {
    border: none !important;
  }

  div.gist-data {
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  div.gist-meta {
    display: none;
  }
}

iframe.bandcamp {
  border: 0;
  width: 350px;
  height: 654px;

  @media screen and (max-width: 680px) {
    width: 300px;
    height: 605px;
  }
}

span.staff-badge {
  background-color: #4078c0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 11px;
  font-weight: bold;
  height: auto;
  padding: 3px 4px;
  margin-left: 5px;
  position: relative;
  top: -2px;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);

  &.resume {
    top: 2px;
    float: left;
  }
}

section.resume {
  a.contact.email { float: left; }
  a.contact.phone { float: right; }

  h1 { margin-bottom: 0; }

  h2 { margin-top: 1em; }

  h3, h4, h5, h6 {
    margin-top: 0;
    text-align: center;
  }

  a.job, a.school, a.project {
    display: inline;
    margin: 0;
    float: left;
  }

  span.title {
    float: left;
    font-size: 14px;
    color: $medium-dark;
    line-height: 32px;
    font-weight: bold;
    margin-left: 10px;

    @media screen and (max-width: 580px) {
      float: none;
      clear: both;
      margin-left: 0;
      display: block;
    }
  }

  span.date {
    float: right;
    line-height: 32px;
  }

  .clear { clear: both; }
}
