<p id="author-bio">
  I'm David, a Rails Developer currently based out of Portland, Oregon working
  at <a href="http://newrelic.com/" rel="nofollow" target="_blank">New Relic</a>.
  I like to write free software using Ruby and Rails, and sometimes I write
  about my programming experiences or music.
</p>

<div class="social-links clearfix">
  <script type="text/javascript" language="javascript">
    {coded="PZ@KkywKxZ2.wX";key="nNzYf5wjkO1QIsW8lRD7c3HT0mLXvo2C9rxgVeBPphybqSd4UJMZA6iFatEuKG";shift=coded.length;link="";for(i=0;i<coded.length;i++){if(key.indexOf(coded.charAt(i))==-1){ltr=coded.charAt(i);link+=ltr}else{ltr=(key.indexOf(coded.charAt(i))-shift+key.length)%key.length;link+=key.charAt(ltr)}}document.write('<a href="mailto:'+link+'"><i class="social-icon fa fa-envelope fa-2x"></i></a>')}
  </script>

  <a href="http://instagr.am/davidcelis" target="_blank">
    <i class="social-icon fa fa-instagram fa-2x"></i>
  </a>

  <a href="https://gittip.com/davidcelis" target="_blank">
    <i class="social-icon fa fa-gittip fa-2x"></i>
  </a>

  <a href="https://twitter.com/davidcelis" target="_blank">
    <i class="social-icon fa fa-twitter fa-2x"></i>
  </a>

  <a href="https://github.com/davidcelis" target="_blank">
    <i class="social-icon fa fa-github fa-2x"></i>
  </a>
</div>
