<footer id="footer">
  <ul class="icons">
    <li><a href="http://github.com/davidcelis" class="icon circle fa-github"><span class="label">Github</span></a></li>
    <li><a href="http://twitter.com/davidcelis" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="http://gittip.com/davidcelis" class="icon circle fa-gittip"><span class="label">Gittip</span></a></li>
    <li><a href="http://instagr.am/davidcelis" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>

    <script type="text/javascript" language="javascript">
      {coded="PZ@KkywKxZ2.wX";key="nNzYf5wjkO1QIsW8lRD7c3HT0mLXvo2C9rxgVeBPphybqSd4UJMZA6iFatEuKG";shift=coded.length;link="";for(i=0;i<coded.length;i++){if(key.indexOf(coded.charAt(i))==-1){ltr=coded.charAt(i);link+=ltr}else{ltr=(key.indexOf(coded.charAt(i))-shift+key.length)%key.length;link+=key.charAt(ltr)}}document.write('<li><a href="mailto:'+link+'" class="icon circle fa-envelope"><span class="label">Email</span></a></li>')}
    </script>
  </ul>

  <ul class="copyright">
    <li>&copy; 2013-2014 David Celis.</li>
    <li>Licensed under the <a href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0</a>.</li>
    <li>Design by <a href="http://html5up.net">HTML5 UP</a>.</li>
  </ul>

  <ul class="copyright">
    <li>\ No newline at end of file</li>
  </ul>

</footer>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28731352-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
