<footer>
  <ul class="social-icons">
    <li><a target="_blank" rel="nofollow" class="twitter" href="https://twitter.com/davidcelis"></a></li>
    <li><a target="_blank" rel="nofollow" class="github" href="https://github.com/davidcelis"></a></li>
    <li><a target="_blank" rel="nofollow" class="soundcloud" href="https://soundcloud.com/davidcelis"></a></li>
    <li><a target="_blank" rel="nofollow" class="instagram" href="https://instagram.com/davidcelis/"></a></li>
    <li><a class="email" href="mailto:me@davidcel.is"></a></li>
  </ul>

  <p>\ No newline at end of file</p>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '555e6f2cde2e2652b60044e2');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://track.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</footer>
