<header>
  <div class="wrapper">
    <div class="logo">
      <a href="{{ site.baseurl }}/"><h5>{{ site.title }}</h5></a>
    </div>

    <nav class="site-nav">
      <a href="/about/">About</a>
      <a href="/">Posts</a>
      <a href="/projects/">Projects</a>
      <a href="/music/">Music</a>
    </nav>

    {% if page.picture %}
      <div class="center"><img class="me" src="{{ page.picture }}"></div>
    {% else %}
      <h1>{% if page.title %}{{ page.title }}{% else %}David Celis{% endif %}</h1>
    {% endif %}
  </div>
</header>
