@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Regular.woff') format('woff'),
       url('/fonts/FiraSans-Regular.woff2') format('woff2');

  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-RegularItalic.woff') format('woff'),
       url('/fonts/FiraSans-RegularItalic.woff2') format('woff2');

  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Bold.woff') format('woff'),
       url('/fonts/FiraSans-Bold.woff2') format('woff2');

  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-BoldItalic.woff') format('woff'),
       url('/fonts/FiraSans-BoldItalic.woff2') format('woff2');

  font-weight: 700;
  font-style: italic;
}
