@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Hair.woff') format('woff'),
       url('/fonts/FiraSans-Hair.woff2') format('woff2');

  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-HairItalic.woff') format('woff'),
       url('/fonts/FiraSans-HairItalic.woff2') format('woff2');

  font-weight: 100;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-UltraLight.woff') format('woff'),
       url('/fonts/FiraSans-UltraLight.woff2') format('woff2');

  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-UltraLightItalic.woff') format('woff'),
       url('/fonts/FiraSans-UltraLightItalic.woff2') format('woff2');

  font-weight: 200;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Light.woff') format('woff'),
       url('/fonts/FiraSans-Light.woff2') format('woff2');

  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-LightItalic.woff') format('woff'),
       url('/fonts/FiraSans-LightItalic.woff2') format('woff2');

  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Regular.woff') format('woff'),
       url('/fonts/FiraSans-Regular.woff2') format('woff2');

  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-RegularItalic.woff') format('woff'),
       url('/fonts/FiraSans-RegularItalic.woff2') format('woff2');

  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Medium.woff') format('woff'),
       url('/fonts/FiraSans-Medium.woff2') format('woff2');

  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-MediumItalic.woff') format('woff'),
       url('/fonts/FiraSans-MediumItalic.woff2') format('woff2');

  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-SemiBold.woff') format('woff'),
       url('/fonts/FiraSans-SemiBold.woff2') format('woff2');

  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-SemiBoldItalic.woff') format('woff'),
       url('/fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');

  font-weight: 600;
  font-style: italic;
}


@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Bold.woff') format('woff'),
       url('/fonts/FiraSans-Bold.woff2') format('woff2');

  font-weight: 700;
  font-style: normal;
}


@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-BoldItalic.woff') format('woff'),
       url('/fonts/FiraSans-BoldItalic.woff2') format('woff2');

  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-ExtraBold.woff') format('woff'),
       url('/fonts/FiraSans-ExtraBold.woff2') format('woff2');

  font-weight: 800;
  font-style: normal;
}


@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-ExtraBoldItalic.woff') format('woff'),
       url('/fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2');

  font-weight: 800;
  font-style: italic;
}


@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Heavy.woff') format('woff'),
       url('/fonts/FiraSans-Heavy.woff2') format('woff2');

  font-weight: 900;
  font-style: normal;
}


@font-face{
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-HeavyItalic.woff') format('woff'),
       url('/fonts/FiraSans-HeavyItalic.woff2') format('woff2');

  font-weight: 900;
  font-style: italic;
}