@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabBold.woff') format('woff'),
       url('/fonts/KlinicSlabBold.woff2') format('woff2');

  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabBoldIt.woff') format('woff'),
       url('/fonts/KlinicSlabBoldIt.woff2') format('woff2');

  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabMedium.woff') format('woff'),
       url('/fonts/KlinicSlabMedium.woff2') format('woff2');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabMediumIt.woff') format('woff'),
       url('/fonts/KlinicSlabMediumIt.woff2') format('woff2');

  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabBook.woff') format('woff'),
       url('/fonts/KlinicSlabBook.woff2') format('woff2');

  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabBookIt.woff') format('woff'),
       url('/fonts/KlinicSlabBookIt.woff2') format('woff2');

  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabLight.woff') format('woff'),
       url('/fonts/KlinicSlabLight.woff2') format('woff2');

  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url('/fonts/KlinicSlabLightIt.woff') format('woff'),
       url('/fonts/KlinicSlabLightIt.woff2') format('woff2');

  font-style: italic;
  font-weight: 200;
}
