$light: #f3f4fc;
$medium-light: rgba(49, 53, 61, 0.1);
$medium-dark: rgba(49, 53, 61, 0.6);
$dark: #1c1d21;

%text {
  color: $dark;
  font-family: 'Klinic Slab';
}

%body-text {
  @extend %text;
  font-size: 22px;
  font-weight: 300;

  @media screen and (max-width: 680px) {
    font-size: 18px;
  }
}

%header-text {
  @extend %text;
  font-family: 'Fira Sans';
}
