---
layout: default
---

<article id="main">
  <header class="special container">
    <span class="icon"><img class="author" src="/images/me.jpg" /></span>
    <h2>{{ page.title }}</h2>

    {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
  </header>

  <section class="wrapper style3 container special">
    {{ content }}
  </section>

  {% if page.hackernews != null %}
    <section class="wrapper style1 container special">
      <p class="hackernews-info center">
        You can discuss this post on <a href="{{ page.hackernews }}">Hacker News</a>.
      </p>
    </section>
  {% endif %}
</article>
